Depends:
 python3-all,
 python3-setuptools,
 python3-box,
 python3-pytest,
 python3-pytest-runner,
Test-Command: set -e; for py in $(py3versions -i); do echo "[*] testing on $py:"; $py -Wd -m pytest test/test_unittests_box.py 2>&1; $py -c "import box; print(box)"; done
